@font-face {
    font-family: 'yekan';
    src: url('~/assets/fonts/Yekan.ttf');
}
@font-face {
    font-family: 'sans';
    src: url('~/assets/fonts/iransans.ttf');
}
@font-face {
    font-family: 'Vibur';
    src: url('~/assets/fonts/Vibur.woff2');
}
@font-face {
    font-family: 'tanha';
    src: url('~/assets/fonts/Tanha.ttf');
}
@font-face {
    font-family: 'vazir';
    src: url('~/assets/fonts/Vazir.ttf');
}

@font-face {
    font-family: 'ghasem';
    src: url('~/assets/fonts/AGhasem.ttf');
}
@font-face {
    font-family: 'dalal';
    src: url('~/assets/fonts/Far_Dalal.ttf');
}
@font-face {
    font-family: 'digital';
    src: url('~/assets/fonts/Far_Digital_Arabia.ttf');
}
@font-face {
    font-family: 'dimona';
    src: url('~/assets/fonts/Far_Dimona.ttf');
}
@font-face {
    font-family: 'entezar';
    src: url('~/assets/fonts/Entezar/EntezarB3.ttf');
}
@font-face {
    font-family: 'nastaliq';
    src: url('~/assets/fonts/IranNastaliq.ttf');
}
@font-face {
    font-family: 'koodakbold';
    src: url('~/assets/fonts/B KOODAK BOLD_P30DOWNLOAD.COM.TTF');
}
@font-face {
    font-family: 'koodak';
    src: url('~/assets/fonts/B KOODAK OUTLINE_P30DOWNLOAD.COM.TTF');
}